# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
releases
.idea



# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
.dart_tool
**/doc/api/
.pub-cache
.pub
mobinsa_web/**/doc/api/
mobinsa_web/**/ios/Flutter/.last_build_id
mobinsa_web/.dart_tool/
/mobinsa_web/.flutter-plugins
/mobinsa_web/.flutter-plugins-dependencies
/mobinsa_web/.pub-cache/
mobinsa_web/.pub/
mobinsa_web/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
